.main {
    color: #f00;
    font-size: 32px;
    font-family: 'Comic Sans MS';
    text-align: center;
    top: 50%;
    left: 50%;
}

#date {
    font-size: 64px;
}

.katex {
    font-size: 128px;
}
